<!-- <p>Username: <%= current_user.email %> ID:<%= current_user.id %></p> -->

<h1> Make a Match: </h1>

<%= form_for @recommendation do |f| %>

<select name="first_match_id">
  <% Profile.all.each do |profile| %>
    <option value="<%= profile.user_id %>"><%= profile.name %></option>
  <% end %>
</select>

<select name="second_match_id">
  <% Profile.all.each do |profile| %>
    <option value="<%= profile.user_id %>"><%= profile.name %></option>
  <% end %>
</select>

  <%= hidden_field_tag(:status_id, "1") %>

  <%= f.submit "Make a match!"%>
<% end %>



<h1> Friend List </h1>
<% Profile.all.each do |profile| %>
<p>
  <img src="<%= profile.photo_url %>?type=large">
</br>
  <strong><%= profile.name %></strong>
</br>
</p>
<% end %>
