<p>Username: <%= current_user.email %> ID:<%= current_user.id %></p>

<h1> Make a Match: </h1>

<%= form_for @recommendation do |f| %>

<select name="first_match_id">
  <% Profile.all.each do |profile| %>
    <option value="<%= profile.user_id %>"><%= profile.name %></option>
  <% end %>
</select>

<select name="second_match_id">
  <% Profile.all.each do |profile| %>
    <option value="<%= profile.user_id %>"><%= profile.name %></option>
  <% end %>
</select>

 </br>
  <%= f.label :first_match_id %>:
  <%= f.text_field :first_match_id %><br />

  <%= f.label :second_match_id %>:
  <%= f.text_field :second_match_id %><br />

  <%= f.hidden_field:status_id, :value => 1 %>

  <%= f.submit "Make a match!"%>
<% end %>


<h1> User List </h1>
<% for user in @users %>
    <p>
      <img src="<%= user.profile.photo_url %>">
    </br>
      <strong><%= user.profile.name %> </br><%= user.email %></strong> <strong><%= user.id %></strong>
    </br>
      Current City: <%= user.profile.city %>
    </br>
      Interests: <%= user.profile.interests %>

      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>

<!--
      <%= link_to "Recommend", recommendations_path(:recommended_id => user), :method => :post %>
      <%= link_to "Recommend as first match", recommendations_path(:first_match_id => user), :method => :post %>
      <%= link_to "Recommend as second match", recommendations_path(:secondMatch_id => user), :method => :post %> -->
    </p>

<% end %>
