<h1>My Profile</h1>



<!-- <h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%= user.email %></li>
    <li><img src="<%= user.profile.photo_url %>"></li>
  <% end %>
</ul> -->

<p>
<img src="<%= @profile.photo_url %>?width=400&height=400">

<br>
Name: <%= @profile.name %>
<br>
<!-- Current City: <%= @profile.city %>
<br>
Interests: <%= @profile.interests %>
<br>
About Me: <%= @profile.about_me %>
</p>

<strong><a href="/users/<%= current_user.id %>/profiles/<%= current_user.id %>/edit">Update My Profile</a></strong> -->
