<h2>User Profile</h2>

<p>Username: <%= @user.email %></p>


<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%= user.email %></li>
  <% end %>
</ul>




<!-- <h2>Recommendations as first match</h2>
<ul>
  <% for recommendation in @user.recommendations %>
    <li>
      <%= recommendation.firstMatch.email %>
      (<%= link_to "remove", recommendation, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h2>Recommendations as second match</h2>
<ul>
  <% for recommendation in @user.recommendations %>
    <li>
      <%= recommendation.secondMatch.email %>
      (<%= link_to "remove", recommendation, :method => :delete %>)
    </li>
  <% end %>
</ul> -->
