<h1> My Pending Matches </h1>


<!-- <p>Username: <%= current_user.email %> ID:<%= current_user.id %></p> -->
<div class="row">
    <section class="col-md-6">
<% for recommendation in @recommendations %>

<% if recommendation.first_match_id == current_user.id %>

  <% @second_user = recommendation.second_match_id %>
    <% if @second_user %>
      <% @profile_two = Profile.find_by(user_id: @second_user) %>
        <% if @profile_two %>
        <img src="<%= @profile_two.photo_url %>?type=large">
      </br>
        <%= @profile_two.name %>
        has been recommended to me by
        <% @recommender = recommendation.user_id %>
        <% @recommender = Profile.find_by(user_id: @recommender) %>
        <%= @recommender.name %>

          </br>
      <% end %>
    <% end %>
  </br>
    <%if recommendation.status_id == 4 %>
    <a href="/accepted_recommendations">YOU'VE MATCHED!</a>
    <% end %>

<form action="/recommendations/<%=recommendation.id %>/accept_second_match" method="patch">
  <input type="submit" value="Accept">
</form>

<% else recommendation.second_match_id == current_user.id %>

    <% @first_user = recommendation.first_match_id %>
      <% if @first_user %>
      <% @profile_one = Profile.find_by(user_id: @first_user) %>
        <% if @profile_one %>
        <img src="<%= @profile_one.photo_url %>?type=large">
      </br>
        <strong><%= @profile_one.name %></strong> has been recommended to me by <% @recommender = recommendation.user_id %>
        <% @recommender = Profile.find_by(user_id: @recommender) %>
        <%= @recommender.name %>

          </br>
        <% end %>
        <% end %>
      </br>
        <%if recommendation.status_id == 4 %>
        <a href="/accepted_recommendations">YOU'VE MATCHED!</a>
        <% end %>
<form action="/recommendations/<%=recommendation.id %>/accept_first_match" method="patch">
  <input type="submit" value="Accept">
</form>

<% end %>
<form action="/recommendations/<%=recommendation.id %>/decline" method="patch">
  <input type="submit" value="Decline">
</form>


</br>
</section>
</div>
<% end %>
