<h1> My Pending Matches </h1>
<p>Username: <%= current_user.email %> ID:<%= current_user.id %></p>

<% for recommendation in @recommendations %>

<% if recommendation.first_match_id == current_user.id %>
<!-- <%= recommendation.second_match_id %> HAS BEEN RECOMMENDED TO ME -->
  <% @second_user = recommendation.second_match_id %>
    <% if @second_user %>
      <% @profile_two = Profile.find_by(user_id: @second_user) %>
        <% if @profile_two %>
        <%= @profile_two.name %> HAS BEEN RECOMMENDED TO ME
      <% end %>
    <% end %>
  </br>
    <%if recommendation.status_id == 4 %>
    <a href="/accepted_recommendations">YOU'VE MATCHED!</a>
    <% end %>

<form action="/recommendations/<%=recommendation.id %>/accept_second_match" method="patch">
  <input type="submit" value="Accept">
</form>

<% else recommendation.second_match_id == current_user.id %>
<!-- <%= recommendation.first_match_id %> HAS BEEN RECOMMENDED TO ME -->
    <% @first_user = recommendation.first_match_id %>
      <% if @first_user %>
      <% @profile_one = Profile.find_by(user_id: @first_user) %>
        <% if @profile_one %>
        <%= @profile_one.name %> HAS BEEN RECOMMENDED TO ME
        <% end %>
        <% end %>
      </br>
        <%if recommendation.status_id == 4 %>
        <a href="/accepted_recommendations">YOU'VE MATCHED!</a>
        <% end %>
<form action="/recommendations/<%=recommendation.id %>/accept_first_match" method="patch">
  <input type="submit" value="Accept">
</form>

<% end %>
<form action="/recommendations/<%=recommendation.id %>/decline" method="patch">
  <input type="submit" value="Decline">
</form>

<p> status<%= recommendation.status_id %></p>
<p> id<%= recommendation.id %></p>

<!-- <%= recommendation.first_match_id %> HAS BEEN RECOMMENDED TO <%= recommendation.second_match_id %> -->
</br>
<% end %>
