<h1> My Received Recommendations </h1>
<p>Username: <%= current_user.email %> ID:<%= current_user.id %></p>

<% for recommendation in @recommendations %>

<% if recommendation.first_match_id == current_user.id %>
<%= recommendation.second_match_id %> HAS BEEN RECOMMENDED TO ME
<% else recommendation.second_match_id == current_user.id %>
<%= recommendation.first_match_id %> HAS BEEN RECOMMENDED TO ME
<% end %>
</br>

<%= recommendation.first_match_id %> HAS BEEN RECOMMENDED TO <%= recommendation.second_match_id %>
</br>
<% end %>
