<!DOCTYPE html>
<html>
<head>
  <title>TickleTush</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-fluid">

    <nav id="sticky-nav" class="navbar default" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TickleTush</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                          <li>

                          <% if current_user %>
                          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                          <% else %>
                          <a href='/users/sign_in'>Sign In</a>
                          </li>
                          <li>
                            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
                          </li>
                          <% end %>


                          <% if current_user %>
                          <li>
                            <a href="/users/show">Profile</a>
                          </li>
                          <% end %>
                          <% if current_user %>
                          <li>
                            <a href='/users'>Play Matchmaker</a>
                          </li>
                          <% end %>
                          <% if current_user %>
                          <li>
                            <%= link_to "Matches I've Made", recommendation_path(current_user) %>
                          </li>
                          <% end %>
                          <% if current_user %>
                          <li>
                            <%= link_to "My Pending Matches", received_recommendations_path %>
                          </li>
                          <% end %>
                          <% if current_user %>
                          <li>
                            <%= link_to "My Accepted Matches", accepted_recommendations_path %>
                          </li>
                          <% end %>
                      </ul>
      </div>
      <%= yield %>
    </div>
  </div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
<!--jQuery and Bootstrap js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
