<!DOCTYPE html>
<html>
<head>
  <title>TickleTush</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li>
      <span class='user_login'>
          <% if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
          <a href='/users/sign_in'>Sign In</a>
          <% end %>
        </span>
    </li>
    <% if current_user %>
    <li>
      <a href="/users/show">Profile</a>
    </li>
    <% end %>
    <% if current_user %>
    <li>
      <a href='/users'>Play Matchmaker</a>
    </li>
    <% end %>
    <% if current_user %>
    <li>
      <%= link_to "Matches I've Suggested", recommendation_path(current_user) %>
    </li>
    <% end %>
    <% if current_user %>
    <li>
      <%= link_to "My Pending Matches", received_recommendations_path %>
    </li>
    <% end %>
    <% if current_user %>
    <li>
      <%= link_to "My Accepted Matches", accepted_recommendations_path %>
    </li>
    <% end %>
  </ul>

<%= yield %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
</body>
</html>
